In [41]:
!pip install nba_api
!pip install pandas

Requirement already satisfied: nba_api in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (1.1.13)
Requirement already satisfied: numpy in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from nba_api) (1.23.4)
Requirement already satisfied: requests in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from nba_api) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from requests->nba_api) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from requests->nba_api) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from requests->nba_api) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from requests->nba_api) (2.1.1)
Requirement already satisfied: pandas in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (1.5.1)
Requirement already satisfied: pytz>=2020.1 in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from pandas) (2022.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /home/therealalex/anaconda3/envs/nba_venv/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [50]:
import pandas as pd
import os
from nba_api.stats.endpoints import playercareerstats,leaguedashptdefend,leaguedashptstats,leaguedashplayerbiostats

path = os.getcwd()
parent = os.path.dirname(path)
DIR_DATA = parent+'/data/'

df_injuries = pd.read_csv(DIR_DATA+'injuries_2010-2020.csv')
df_injuries.head()

,Date,Team,Acquired,Relinquished,Notes
0,2010-10-03,Bulls,NaN,Carlos Boozer,fractured bone in right pinky finger (out inde...
1,2010-10-06,Pistons,NaN,Jonas Jerebko,torn right Achilles tendon (out indefinitely)
2,2010-10-06,Pistons,NaN,Terrico White,broken fifth metatarsal in right foot (out ind...
3,2010-10-08,Blazers,NaN,Jeff Ayres,torn ACL in right knee (out indefinitely)
4,2010-10-08,Nets,NaN,Troy Murphy,strained lower back (out indefinitely)

In [48]:
carrer_defend = leaguedashptdefend.LeagueDashPtDefend(
                season = '2020-21',
                per_mode_simple='PerGame',
                defense_category='Overall',
                league_id = '00',
                season_type_all_star = 'Regular Season')

carrer_defend.get_data_frames()[0]

,CLOSE_DEF_PERSON_ID,PLAYER_NAME,PLAYER_LAST_TEAM_ID,PLAYER_LAST_TEAM_ABBREVIATION,PLAYER_POSITION,AGE,GP,G,FREQ,D_FGM,D_FGA,D_FG_PCT,NORMAL_FG_PCT,PCT_PLUSMINUS
0,203497,Rudy Gobert,1610612762,UTA,C,29.0,71,71,1.0,9.21,22.30,0.413,0.493,-0.079
1,201572,Brook Lopez,1610612749,MIL,C,33.0,69,69,1.0,8.96,19.80,0.452,0.489,-0.036
2,1627734,Domantas Sabonis,1610612754,IND,F-C,25.0,61,61,1.0,8.54,18.13,0.471,0.488,-0.017
3,203999,Nikola Jokic,1610612743,DEN,C,26.0,71,71,1.0,8.82,18.00,0.490,0.492,-0.002
4,1626167,Myles Turner,1610612754,IND,C-F,25.0,46,46,1.0,8.07,17.85,0.452,0.493,-0.041

In [56]:
df_bio = leaguedashplayerbiostats.LeagueDashPlayerBioStats(
                season = '2020-21',
                per_mode_simple='PerGame',
                league_id = '00',
                season_type_all_star= 'Regular Season').get_data_frames()[0]
df_bio.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_HEIGHT_INCHES,PLAYER_WEIGHT,COLLEGE,COUNTRY,...,GP,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT
0,203932,Aaron Gordon,1610612743,DEN,25.0,6-8,80,235,Arizona,USA,...,50,12.4,5.7,3.2,2.1,0.055,0.150,0.204,0.547,0.165
1,1628988,Aaron Holiday,1610612754,IND,24.0,6-0,72,185,UCLA,USA,...,66,7.2,1.3,1.9,-0.2,0.012,0.060,0.189,0.503,0.139
2,1630174,Aaron Nesmith,1610612738,BOS,21.0,6-5,77,215,Vanderbilt,USA,...,46,4.7,2.8,0.5,-0.5,0.041,0.146,0.133,0.573,0.047
3,1627846,Abdel Nader,1610612756,PHX,27.0,6-5,77,225,Iowa State,Egypt,...,24,6.7,2.6,0.8,5.0,0.020,0.151,0.183,0.605,0.078
4,1629690,Adam Mokoka,1610612741,CHI,22.0,6-4,76,190,None,France,...,14,1.1,0.4,0.4,-7.1,0.017,0.077,0.171,0.386,0.179

## Data processing

We are only going to focus on data from 2013-2014 season beyond, so injury data older than 2013 will be ignored.

In [46]:
print(f'Number of rows: {df_injuries.shape[0]}')
regex_year = '2013-1[0-2]-(0[1-9]|[1-2][0-9]|3[0-1])|(201[4-9]|2020)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])'
df_injuries_processed = df_injuries[df_injuries['Date'].str.contains(regex_year)]
print(f'Number of rows: {df_injuries_processed.shape[0]}')
df_injuries_processed.head()

Number of rows: 27105
Number of rows: 19607

/tmp/ipykernel_9730/2759533438.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_samples = df_injuries[df_injuries['Date'].str.contains(regex_year)]

,Date,Team,Acquired,Relinquished,Notes
7498,2013-10-01,Thunder,NaN,Russell Westbrook,arthroscopic surgery on right knee (out indefi...
7499,2013-10-05,Blazers,NaN,C.J. McCollum,fractured bone in left foot (out indefinitely)
7500,2013-10-08,Hawks,NaN,Gustavo Ayon,strained right rotator cuff (out indefinitely)
7501,2013-10-10,Bobcats,NaN,Brendan Haywood,stress fracture in left foot (out indefinitely)
7502,2013-10-10,Mavericks,NaN,Brandan Wright,fractured left shoulder (surgery) (out indefin...

In [57]:
df_bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PLAYER_ID             540 non-null    int64
 1   PLAYER_NAME           540 non-null    object
 2   TEAM_ID               540 non-null    int64
 3   TEAM_ABBREVIATION     540 non-null    object
 4   AGE                   540 non-null    float64
 5   PLAYER_HEIGHT         540 non-null    object
 6   PLAYER_HEIGHT_INCHES  540 non-null    int64
 7   PLAYER_WEIGHT         540 non-null    object
 8   COLLEGE               540 non-null    object
 9   COUNTRY               540 non-null    object
 10  DRAFT_YEAR            540 non-null    object
 11  DRAFT_ROUND           532 non-null    object
 12  DRAFT_NUMBER          531 non-null    object
 13  GP                    540 non-null    int64
 14  PTS                   540 non-null    float64
 15  REB                   540 non-null    float64
 16  AST                   540 non-null    float64
 17  NET_RATING            540 non-null    float64
 18  OREB_PCT              540 non-null    float64
 19  DREB_PCT              540 non-null    float64
 20  USG_PCT               540 non-null    float64
 21  TS_PCT                540 non-null    float64
 22  AST_PCT               540 non-null    float64
dtypes: float64(10), int64(4), object(9)
memory usage: 97.2+ KB

In [71]:
def get_df_player_data_season(season,league_id):
    
    defend_data = leaguedashptdefend.LeagueDashPtDefend(
                season = season,
                per_mode_simple='PerGame',
                defense_category='Overall',
                league_id = league_id,
                season_type_all_star = 'Regular Season').get_data_frames()[0]
    
    bio_data = leaguedashplayerbiostats.LeagueDashPlayerBioStats(
                season = season,
                per_mode_simple='PerGame',
                league_id = league_id,
                season_type_all_star= 'Regular Season').get_data_frames()[0]
                
    df_players = defend_data.copy()

    df_players = df_players.drop(columns = ['FREQ','G','PCT_PLUSMINUS','NORMAL_FG_PCT'])
    df_players = df_players.rename(columns = {'CLOSE_DEF_PERSON_ID':'PLAYER_ID'})

    cols_to_merge = ['PLAYER_ID','PLAYER_HEIGHT','PLAYER_HEIGHT_INCHES','PLAYER_WEIGHT']

    df_players = df_players.merge(bio_data[cols_to_merge])
    
    return df_players

In [74]:
get_df_player_data_season('2019-20','00')

,PLAYER_ID,PLAYER_NAME,PLAYER_LAST_TEAM_ID,PLAYER_LAST_TEAM_ABBREVIATION,PLAYER_POSITION,AGE,GP,D_FGM,D_FGA,D_FG_PCT,PLAYER_HEIGHT,PLAYER_HEIGHT_INCHES,PLAYER_WEIGHT
0,203497,Rudy Gobert,1610612762,UTA,C,28.0,68,9.46,22.87,0.414,7-1,85,258
1,1629028,Deandre Ayton,1610612756,PHX,C,21.0,38,8.50,20.55,0.414,6-11,83,250
2,1626157,Karl-Anthony Towns,1610612750,MIN,C-F,24.0,35,9.71,19.69,0.493,6-11,83,248
3,201572,Brook Lopez,1610612749,MIL,C,32.0,67,8.34,19.55,0.427,7-0,84,282
4,203083,Andre Drummond,1610612739,CLE,C,26.0,56,9.34,18.14,0.515,6-10,82,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,1629648,Jordan Bone,1610612765,DET,G,22.0,7,0.86,1.86,0.462,6-3,75,180
523,1629622,Max Strus,1610612741,CHI,G-F,24.0,2,0.00,1.50,0.000,6-5,77,215
524,1627740,Henry Ellenson,1610612751,BKN,F-C,23.0,5,0.20,1.40,0.143,6-10,82,240
525,1629716,Marques Bolden,1610612739,CLE,C,22.0,1,0.00,1.00,0.000,6-10,82,249
526,2037,Jamal Crawford,1610612751,BKN,G,40.0,1,1.00,1.00,1.000,6-5,77,200